  .fa {
    @apply sm:text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-5xl w-1/6 text-center no-underline m-5 p-5;
  }

  .fa:hover {
    @apply opacity-70;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-github {
    background: black;
    color: white;
  }
  
  .medium {
    background: rgb(200, 160, 14);
    color: white;
  }
  
  .hackerrank {
    background: rgb(10, 171, 10);
    color: white;
  }
  
  .stackoverflow {
    background: red;
    color: white;
  }
  .capsule_para {
    @apply text-[white] bg-[black] w-3/5 p-2.5 mt-3 rounded-lg border-[solid];
  }

  .details {
    @apply m-7;
  }

  