.notification-white {
    position: absolute;
    bottom: 45px;
    right: 40px;
    width: max-content;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #f6f5f9;
    color: #141414;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 6s linear forwards;
}

.notification-black {
    position: absolute;
    bottom: 45px;
    right: 40px;
    width: max-content;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #141414;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 6s linear forwards;
}

.notification__progress {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(to right, #FFB938, #f33d4e);
    border-radius: inherit;
    animation: load 5s 0.25s linear forwards;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes load {
    to {
        transform: scaleX(1);
    }
}